# Path to required software
repeatmodeller=/path/to/repeatmodeller
blastx=/path/to/blastx
repeatmasker=/path/to/repeatmasker
soapdenovo_trans=/path/to/soapdenovo-trans
augustus=/path/to/augustus
exonerate=/path/to/exonerate
snap=/path/to/snap
glimmerhmm=/path/to/glimmerhmm
twinscan=/path/to/twinscan

# Path to protein database for Arthropoda
path_to_protein_db=/path/to/arthropoda_protein_db.fasta

# Path to Arthropoda database
path_to_arthropoda_db=/path/to/arthropoda_db.fasta

# Path to samples
sample1name=/path/to/sample1name
read1=/path/to/sample1_read1.fastq
read2=/path/to/sample1_read2.fastq

sample2name=/path/to/sample2name
read1=/path/to/sample2_read1.fastq
read2=/path/to/sample2_read2.fastq

# ...

# Path to reference genome file
reference_genome_file=/path/to/reference_genome.fasta

# Output directory
path_to_create_output_files=/path/to/output_directory

# kmer value for SOAPdenovo-Trans  # change this as per requirement
kmer_value=141  

# Run the analysis
./step4.sh step4.config
