# Path to required software
purge_haplotigs=/home/dagashe/shivanshss/tools/purge_haplotigs/bin/purge_haplotigs
quast=/home/dagashe/shivanshss/tools/quast/quast.py
gaep=/home/dagashe/shivanshss/tools/GAEP
busco=/home/dagashe/shivanshss/tools/busco/bin/busco
busco_config=/home/dagashe/shivanshss/tools/busco/config/config_update.ini
python=/softwares/python383/bin/python
pilon=/home/dagashe/shivanshss/tools/pilon/pilon-1.24.jar

# Path to BUSCO database
path_to_busco_db=/path/to/busco_database

# Path to samples
sample1=/path/to/sample1.fastq
sample1_bam=
sample2=/path/to/sample2.fastq
sample2_bam=
sample3=/path/to/sample3.fastq
sample3_bam=

# Output directory
path_to_create_output_files=/path/to/output_directory

# reference_genome
reference_genome=
reference_gff=

# Run the analysis
./step3.sh step3.config
