# Sample information

sample_name: sample1
path_to_sample_1_forward_read: /path/to/sample1_R1.fastq
path_to_sample_1_reverse_read: /path/to/sample1_R2.fastq
path_to_create_output_files: /path/to/sample1_output

sample_name: sample2
path_to_sample_2_forward_read: /path/to/sample2_R1.fastq
path_to_sample_2_reverse_read: /path/to/sample2_R2.fastq
path_to_create_output_files: /path/to/sample2_output

# Add more sample entries as needed

# Path to required software
fastqc=/softwares/FastQC0.11/fastqc
trimmomatic=/softwares/Trimmomatic-0.39/trimmomatic-0.39.jar
jellyfish=/path/to/jellyfish
genomescope=/home/dagashe/shivanshss/tools/genomescope2.0/genomescope.R

# Run the analysis
./step1.sh step1.config
