# Sample information

sample_name: sample1
path_to_sample_1_forward_read: /path/to/sample1_R1.fastq
path_to_sample_1_reverse_read: /path/to/sample1_R2.fastq
path_to_create_output_files: /path/to/sample1_output

sample_name: sample2
path_to_sample_2_forward_read: /path/to/sample2_R1.fastq
path_to_sample_2_reverse_read: /path/to/sample2_R2.fastq
path_to_create_output_files: /path/to/sample2_output

sample_name: sample3
path_to_sample_3_forward_read: /path/to/sample3_R1.fastq
path_to_sample_3_reverse_read: /path/to/sample3_R2.fastq
path_to_create_output_files: /path/to/sample3_output

path_to_nanopore_reads: /path/to/nanopore_reads.fastq

# Path to required software
spades=/home/dagashe/shivanshss/tools/SPAdes-3.15.2-Linux/bin/spades.py
ragtag=/home/dagashe/shivanshss/tools/RagTag/ragtag.py
minimap2=/home/dagashe/shivanshss/tools/minimap2/minimap2

# Path to reference genome for RagTag
path_to_reference_genome=/path/to/reference_genome.fasta

# Run the analysis
./step2.sh step2.config
